@font-face {
  font-family: 'Roboto', sans-serif;;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  max-width: 1fr;
  background-color: #2C2C2C;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header-container-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.header-container-links > p{
  font-size: 10px;
}
.header-container-links > .iconify{
  height: 12px;
  width: 12px;
  color : #699bf7;
  margin-bottom: -2px;
}