.logo{
  height: 167px;
  width: 167px;
  object-fit: contain;
  transform: translateY(20px);
  margin: 0;
  margin-left: -10px;
  padding: 0;
}
.Banner{
  align-items: center;
  background-color: #161616;
  color: #CFD300;
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  letter-spacing: 0.1em;
  height: 81px;
  justify-content: center;
  max-width: 1fr;
  padding: 0 3px;
  width: 1fr;
}

.Banner-nav_items{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  max-width:100% ;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
  margin-left: -20px;
  flex-wrap: wrap;
}

.Banner-nav_items > li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .3em;
  cursor: pointer;
  padding: 3px;
}
.Banner-nav_items > li > a{
  text-decoration: none;
  color: #CFD300;
} 
.Banner-nav_items > li > span{
  width: 0%;
  background-color: #CFD300;
  height: 1px;
  transition: width ease .5s;
}
.Banner-nav_items > li:hover > span{
  width: 100%;
}

.Button-Turno{
  align-items: center;
  background-color: #CFD300;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 3px 10px 1px black;
  cursor: pointer;
  color: #161616;
  display: flex;
  transition: background-color .3s;
  padding: .5em;
}
.Button-Turno:hover{
  background-color: #8c8f03;
}

.Button-Turno > span{
  font-size: 14px;
  font-weight: bold;
}

.Button-Turno > .iconify{
  color: #161616
}

@media screen and (min-width: 480px){
  .Banner{
    height: 121px;
    font-size: 18px;
  }
  .Button-Turno > p {
    font-size: 20px;
  }

  .Button-Turno > .iconify{
    font-size: 22px;
  }

  .logo{
    height: 187px;
    width: 187px;
    object-fit: contain;  
    transform: translateY(16px);
  }
}